In [27]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split

In [28]:
dataset = pd.read_csv('medical_dataset.csv')
dataset.head()

,ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1.0,18.0,Female,161.777924,72.354947,O,27.645835,NaN,95.0,109.0,203.0,No,NaN
1,2.0,NaN,Male,152.069157,47.630941,B,NaN,98.714977,93.0,104.0,163.0,No,No
2,3.0,32.0,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.0,216.0,Yes,No
3,NaN,30.0,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.0,141.0,No,Yes
4,5.0,23.0,Female,NaN,46.234173,O,NaN,98.480008,95.0,NaN,231.0,No,No

In [29]:
missing_values = dataset.isnull().sum()
missing_values

ID                20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI               20000
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
dtype: int64

In [30]:
dataset.shape

(200000, 13)

In [31]:
total_cells = np.product(dataset.shape)
total_cells

2600000

In [32]:
total_missing_values = missing_values.sum()
total_missing_values

260000

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              180000 non-null  float64
 1   Age             180000 non-null  float64
 2   Gender          180000 non-null  object
 3   Height          180000 non-null  float64
 4   Weight          180000 non-null  float64
 5   Blood Type      180000 non-null  object
 6   BMI             180000 non-null  float64
 7   Temperature     180000 non-null  float64
 8   Heart Rate      180000 non-null  float64
 9   Blood Pressure  180000 non-null  float64
 10  Cholesterol     180000 non-null  float64
 11  Diabetes        180000 non-null  object
 12  Smoking         180000 non-null  object
dtypes: float64(9), object(4)
memory usage: 19.8+ MB

In [34]:
dataset.describe()

,ID,Age,Height,Weight,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol
count,180000.000000,180000.000000,180000.000000,180000.000000,180000.000000,180000.000000,180000.000000,180000.000000,180000.000000
mean,49974.042078,26.021561,174.947103,69.971585,23.338869,98.600948,79.503767,114.558033,184.486361
std,28879.641657,4.890528,14.447560,17.322574,7.033554,0.500530,11.540755,14.403353,37.559678
min,1.000000,18.000000,150.000041,40.000578,10.074837,96.397835,60.000000,90.000000,120.000000
25%,24971.750000,22.000000,162.476110,54.969838,17.858396,98.264750,70.000000,102.000000,152.000000
50%,49943.500000,26.000000,174.899914,69.979384,22.671401,98.599654,80.000000,115.000000,184.000000
75%,74986.000000,30.000000,187.464417,84.980097,27.997487,98.940543,90.000000,127.000000,217.000000
max,100000.000000,34.000000,199.998639,99.999907,44.355113,100.824857,99.000000,139.000000,249.000000

In [35]:
for col in dataset.select_dtypes(include='object').columns:
  mode_value = dataset[col].mode()[0]
  dataset[col] = dataset[col].fillna(mode_value)

In [36]:
for col in dataset.select_dtypes(include='number').columns:
    mean_value = dataset[col].mean()
    dataset[col] = dataset[col].fillna(mean_value)

In [37]:
dataset.head()

,ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1.000000,18.000000,Female,161.777924,72.354947,O,27.645835,98.600948,95.0,109.000000,203.0,No,No
1,2.000000,26.021561,Male,152.069157,47.630941,B,23.338869,98.714977,93.0,104.000000,163.0,No,No
2,3.000000,32.000000,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.000000,216.0,Yes,No
3,49974.042078,30.000000,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.000000,141.0,No,Yes
4,5.000000,23.000000,Female,174.947103,46.234173,O,23.338869,98.480008,95.0,114.558033,231.0,No,No

In [38]:
categorical_features =  dataset.select_dtypes(include='object').columns
categorical_features

Index(['Gender', 'Blood Type', 'Diabetes', 'Smoking'], dtype='object')

In [39]:
#az onehot encoder bar asas dars estefadeh shode vali mesal lable encoder ham neveshtam chon rahat tar va behtare
onehot_encoder = OneHotEncoder()
encoded_data = onehot_encoder.fit_transform(dataset[categorical_features]).toarray()
encoded_data_df = pd.DataFrame(encoded_data, columns=onehot_encoder.get_feature_names_out(categorical_features))
dataset = pd.concat([dataset.drop(categorical_features, axis=1), encoded_data_df], axis=1)

یا از انکورد بالایی استفاده شود یا پایینی 
one hot 
یا
label
هر دو رو نوشتم چون یکی بر اساس درس و اون یکی راحت تر است

In [40]:
#label encoder dars nadadid hanooz vali etelaat besorat sade tar namayesh dadeh mishavand
""" 
label_encoder = LabelEncoder()
for col in categorical_features:
  dataset[col] = label_encoder.fit_transform(dataset[col]) """

' \nlabel_encoder = LabelEncoder()\nfor col in categorical_features:\n  dataset[col] = label_encoder.fit_transform(dataset[col]) '

In [41]:
dataset.head()

,ID,Age,Height,Weight,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Gender_Female,Gender_Male,Blood Type_A,Blood Type_AB,Blood Type_B,Blood Type_O,Diabetes_No,Diabetes_Yes,Smoking_No,Smoking_Yes
0,1.000000,18.000000,161.777924,72.354947,27.645835,98.600948,95.0,109.000000,203.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
1,2.000000,26.021561,152.069157,47.630941,23.338869,98.714977,93.0,104.000000,163.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,3.000000,32.000000,182.537664,55.741083,16.729017,98.260293,76.0,130.000000,216.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,49974.042078,30.000000,182.112867,63.332207,19.096042,98.839605,99.0,112.000000,141.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,5.000000,23.000000,174.947103,46.234173,23.338869,98.480008,95.0,114.558033,231.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [42]:
X = dataset.drop(['Cholesterol','ID'], axis=1)
y = dataset['Cholesterol']

In [43]:
X.head()

,Age,Height,Weight,BMI,Temperature,Heart Rate,Blood Pressure,Gender_Female,Gender_Male,Blood Type_A,Blood Type_AB,Blood Type_B,Blood Type_O,Diabetes_No,Diabetes_Yes,Smoking_No,Smoking_Yes
0,18.000000,161.777924,72.354947,27.645835,98.600948,95.0,109.000000,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
1,26.021561,152.069157,47.630941,23.338869,98.714977,93.0,104.000000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,32.000000,182.537664,55.741083,16.729017,98.260293,76.0,130.000000,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,30.000000,182.112867,63.332207,19.096042,98.839605,99.0,112.000000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,23.000000,174.947103,46.234173,23.338869,98.480008,95.0,114.558033,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [44]:
y.head()

0    203.0
1    163.0
2    216.0
3    141.0
4    231.0
Name: Cholesterol, dtype: float64

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

In [46]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler(feature_range=(-1, 1))
X_train=min_max_scaler.fit_transform(X_train)
X_test=min_max_scaler.transform(X_test)
y_test= min_max_scaler.fit_transform(np.array(y_test).reshape(-1, 1))
y_train= min_max_scaler.fit_transform(np.array(y_train).reshape(-1, 1))

In [2]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers , Model

input_wide = layers.Input(shape=[5])
input_deep = layers.Input(shape=[6])  

norm_layer_wide = layers.Normalization()
norm_layer_deep = layers.Normalization()

norm_wide = norm_layer_wide(input_wide)
norm_deep = norm_layer_deep(input_deep)

hidden1 = layers.Dense(30, activation="relu")(norm_deep)
hidden2 = layers.Dense(30, activation="relu")(hidden1)

concat = layers.concatenate([norm_wide, hidden2])

output = layers.Dense(1)(concat)

model = Model(inputs=[input_wide, input_deep], outputs=[output])

model.compile(optimizer='adam', loss='mse')

model.summary() 

import numpy as np

n_samples = 1000
features = np.random.rand(n_samples, 8)
target = features[:, 2] * 2 + features[:, 5] - features[:, 3] 

X_train_wide = features[:800, :5] 
X_train_deep = features[:800, 2:] 
y_train = target[:800]

X_test_wide = features[800:, :5]
X_test_deep = features[800:, 2:]
y_test = target[800:]

history = model.fit([X_train_wide, X_train_deep], y_train, epochs=100, batch_size=32, verbose=0)

loss = model.evaluate([X_test_wide, X_test_deep], y_test, verbose=0)
print(f"Test Loss: {loss}")

Model: "functional_3"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_layer_3       │ (None, 6)         │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ normalization_3     │ (None, 6)         │         13 │ input_layer_3[0]… │
│ (Normalization)     │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ input_layer_2       │ (None, 5)         │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_3 (Dense)     │ (None, 30)        │        210 │ normalization_3[… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ normalization_2     │ (None, 5)         │         11 │ input_layer_2[0]… │
│ (Normalization)     │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_4 (Dense)     │ (None, 30)        │        930 │ dense_3[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ concatenate_1       │ (None, 35)        │          0 │ normalization_2[… │
│ (Concatenate)       │                   │            │ dense_4[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_5 (Dense)     │ (None, 1)         │         36 │ concatenate_1[0]… │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 1,200 (4.70 KB)

 Trainable params: 1,176 (4.59 KB)

 Non-trainable params: 24 (104.00 B)

Test Loss: 5.865669663762674e-05